<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My first validation form</title>
</head>
      <h1>UPDATE USER DETAILS</h1>
    <body>
         
       
            <h2>Username</h2>
            <form action='/Log/userid' method="POST">
     
         
            <input type="text"  name="Username" placeholder="Enter Username" name="Title" autocomplete="off" required >
              
              </br>
              <h2>Fathername</h2>
              <input type="text"  name="Fathername" placeholder="Enter fathername" name="Title" autocomplete="off" required >
             
              <h3>Email</h3>
              
            <input type="text"  name="Email" autocomplete="off"  placeholder="Enter Email" title="email must be in Email format" required>
            
              </br>
       
     
          <button type="reset" value="reset">reset</button>
         </br>
         </br>
     
        <!-- <button type='submit' value="edit">edit</button> -->
        <!-- <button type='submit' value="admin">admin</button> -->
        <button type='submit' value="submit">submit</button>
        
        
     
         </form>
     
     
     
     
         </body>
     
     </head>    
     
         
         
     </html>
     
